.EditUserSave {
    background-color: white;
    width: 500px;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
    gap: 10px;
    border-radius: 10px;
    font-weight: bold;

    .msg2 {
        color: var(--color-quaternary);
        font-size: 18px;
    }

    .msg1 {
        color: var(--color-tertiary);
        font-size: 24px;
    }

    button {
        margin-top: 30px;
        font-family: var(--font);
        padding: 10px 20px;
        margin-right: 20px;
        font-size: 16px;
        letter-spacing: 1px;
        border-radius: 5px;
        cursor: pointer;
        transition: all 0.5s;

        &:nth-child(1) {
            background-color: var(--color-primary);
            color: white;
            border: none;

        }

        &:nth-child(2) {
            background-color: white;
            color: var(--color-primary);
            border: 1px solid var(--color-primary);

        }

        &:nth-child(1):hover,
        &:nth-child(2):hover {
            transform: scale(1.05);
        }

    }

}